{% extends "layout.html" %}

{% block content %}
<div>
    <form class="col s12" method="POST">
        {{ form.hidden_tag() }}
        <div class="input-field col s12">
            {{ form.title() }}
            {% if form.title.errors %}
            <div>
                {% for error in form.title.errors %}
                <span class="helper-text red-text">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {{ form.title.label() }}
        </div>
        <div class="input-field col s12">
            {{ form.content() }}
            {% if form.content.errors %}
            <div>
                {% for error in form.content.errors %}
                <span class="helper-text red-text">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {{ form.content.label() }}
        </div>
        <div class="row">
            <div class="col s6">
                {{ form.submit(class="btn") }}
            </div>
        </div>
    </form>
</div>
{% endblock content%}