{% extends "layout.html" %}


{% block content %}
<div>
    <form class="col s12" method="POST">
        {{ form.hidden_tag() }}
        <div class="input-field col s12">
            {{ form.password() }}
            {% if form.password.errors %}
            <div>
                {% for error in form.password.errors %}
                <span class="helper-text red-text">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {{ form.password.label() }}
        </div>
        <div class="input-field col s12">
            {{ form.confirm_password() }}
            {% if form.confirm_password.errors %}
            <div>
                {% for error in form.confirm_password.errors %}
                <span class="helper-text red-text">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {{ form.confirm_password.label() }}
        </div>
        <div class="row">
            <div class="col s6">
                {{ form.submit(class="btn") }}
            </div>
        </div>
    </form>
</div>

{% endblock content%}